.hello { 
position: absolute; 
top: 50%; 
left: 50%; 
transform: translate(-50%, -50%);
font-size: 25vw;
-webkit-animation-name: wave; animation-name: wave;
-webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; -webkit-animation-timing-function:ease-in-out;
animation-timing-function: ease-in-out; font-family: "Righteous", cursive; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: black; 
} 

.hello:nth-of-type(1) { 
-webkit-animation-duration: 2s; animation-duration: 2s; -webkit-animation-delay: 0.55s; animation-delay: 0.55s;
background: -webkit-linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(78,255,193,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} 
.hello:nth-of-type(2) { 
-webkit-animation-duration: 2s; animation-duration: 2s; -webkit-animation-delay: 0.3s; animation-delay: 0.3s;
background: -webkit-linear-gradient(90deg, rgba(41,75,168,1) 18%, rgba(45,178,255,1) 64%, rgba(7,33,87,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hello:nth-of-type(3) { -webkit-animation-duration: 2s; animation-duration: 2s; -webkit-animation-delay: 0.05s; animation-delay: 0.05s;
background: -webkit-linear-gradient(90deg, rgba(34,103,195,1) 0%, rgba(159,78,255,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} 
.hello:nth-of-type(4) { -webkit-animation-duration: 2s; animation-duration: 2s; -webkit-animation-delay: -0.2s; animation-delay: -0.2s;
background: -webkit-linear-gradient(90deg, rgba(34,103,195,1) 0%, rgba(186,255,78,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} 
@-webkit-keyframes wave { 40%, 50% { 
transform: translate(-50%, -65%)scale(1.05);
} 
0%, 90%, 100% { transform: translate(-50%, -45%) scale(0.95);
 }
} 
@keyframes wave
 { 40%, 50%
  { 
 transform: translate(-50%, -65%) scale(1.05); 
} 
0%, 90%, 100% {
 transform: translate(-50%, -45%) scale(0.95); 
}

